{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.password) }}
    <button class="btn btn-default" type="submit">Відправити</button>
    {{ form_end(form) }}
{% endblock %}
