{% extends 'base.html.twig' %}

{% block body %}
    <p>Email Confirm Link:</p>
    {% set url = url('auth.reset.confirm', {'token': token}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}
